@mixin transition($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-ms-transition: $time;
	-o-transition: $time;
	transition: $time;
}


@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}


@mixin translate($x,$y) {
	@include transform(translate($x,$y));
}

@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin filter($value) {
	-webkit-filter: $value;
	-moz-filter: $value;
	-o-filter: $value;
	filter: $value;
}


// mixin for responsiveness
 

@mixin respond($breakpoint){

	@if $breakpoint == small-phone {
		@media (max-width: 480px) {
			@content;
		}
	}

	@if $breakpoint == phone {
		@media (max-width: 600px) {
			@content;
		}
	}

	@if $breakpoint == tab-port {
		@media (max-width: 900px) {
			@content;
		}
	}

	@if $breakpoint == tab-land {
		@media (max-width: 1200px) {
			@content;
		}
	}
 
}


